{% extends 'base.html' %}

{% block content %}

<div class="row hidden mt-4">
  <div class="header">
    <button class="back clicked">Go Back</button>
    <!--<h1 class="page-title p-2">Select Your Race</h1>-->
  </div>

    <div class="col-4 mt-4">
      <div class="card">
        <div class="card-title mt-2">
          Beginner
        </div>
      </div>
    </div>
    <div class="col-4 mt-4">
      <div class="card">
        <div class="card-title mt-2">
          Intermediate
        </div>
      </div>
    </div>
    <div class="col-4 mt-4">
      <div class="card">
        <div class="card-title mt-2">
          Advanced
        </div>
      </div>
    </div>

    <div class="col-4 mt-4 hovering-items">
        {% for post in posts %}   
            {% if post.levels == 'beginner' %}
            <a href="{{ url_for('posts.post', category=category, race_name=race_name, post_id=post.id) }}" class="card-link clicked">
                <div class="card mb-4">
                    <div class="card-body {% if race_name == 'zerg' %}card-body-zerg{% elif race_name == 'terran' %}card-body-terran{% elif race_name == 'protoss' %}card-body-protoss{% endif %}">
                        <h1 class="card-title">{{ post.title }}</h1>
                        <small class="subinfo">{{ post.author.username }}</small>
                        <small class="subinfo">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                        <p class="card-text mt-3">{{ post.subtitle }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-4 mt-4 hovering-items">
        {% for post in posts %}   
            {% if post.levels == 'intermediate' %}
            <a href="{{ url_for('posts.post', category=category, race_name=race_name, post_id=post.id) }}" class="card-link clicked">
                <div class="card mb-4">
                    <div class="card-body {% if race_name == 'zerg' %}card-body-zerg{% elif race_name == 'terran' %}card-body-terran{% elif race_name == 'protoss' %}card-body-protoss{% endif %}">
                        <h1 class="card-title">{{ post.title }}</h1>
                        <small class="subinfo">{{ post.author.username }}</small>
                        <small class="subinfo">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                        <p class="card-text mt-3">{{ post.subtitle }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-4 mt-4 hovering-items">
        {% for post in posts %}
            {% if post.levels == 'expert' %}
            <a href="{{ url_for('posts.post', category=category, race_name=race_name, post_id=post.id) }}" class="card-link clicked">
                <div class="card mb-4">
                    <div class="card-body {% if race_name == 'zerg' %}card-body-zerg{% elif race_name == 'terran' %}card-body-terran{% elif race_name == 'protoss' %}card-body-protoss{% endif %}">
                        <h1 class="card-title">{{ post.title }}</h1>
                        <small class="subinfo">{{ post.author.username }}</small>
                        <small class="subinfo">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                        <p class="card-text mt-3">{{ post.subtitle }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div
></div>
{% endblock %}