{% extends 'base.html' %}

{% block content %}

<div class="row hidden mt-4">
  <div class="col-4 column overlay-container hovering-items">
    <div class="inner card glow-border">
      <a href="{{ url_for('main.category', category='1v1') }}" class="build-link clicked">
        <img src="{{ url_for('static', filename='single.jpg') }}" class="img-cover category img-fluid img-full me-2 mr-2 align-bottom hover-image">
        <div class="card-body p-0 overlay">
          <div class="p-3">
            <h1 class="index-title">1v1 Builds</h1>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-4 column overlay-container hovering-items">
    <div class="inner card glow-border">
      <a href="{{ url_for('main.category', category='3v3') }}" class="build-link clicked">
        <img src="{{ url_for('static', filename='multi.jpg') }}" class="img-cover category img-fluid img-full me-2 mr-2 align-bottom hover-image">
        <div class="card-body p-0 overlay">
          <div class="p-3">
            <h1 class="index-title">3v3 Builds</h1>
          </div>
        </div>      
      </a>
    </div>
  </div>

  <div class="col-4 column overlay-container hovering-items">
    <div class="inner card glow-border">
      <a href="{{ url_for('main.category', category='in-house') }}" class="build-link clicked">
        <img src="{{ url_for('static', filename='inny.jpg') }}" class="img-cover category img-fluid img-full me-2 mr-2 align-bottom hover-image">
        <div class="card-body p-0 overlay">
          <div class="p-3">
            <h1 class="index-title">In-House Clan Builds</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
