{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="Header">
    <h1 class="page-title">Select Your Race</h1>
  </div>

<div class="col-4 column terran mt-4">
  <div class="card hover-card" data-hover-image="marine.gif" data-default-image="marine.jpg" id="terran-hover">
    <a href="{{ url_for('tag_posts', tag_name='Terran') }}" class="build-link mt-4">
      <div class="card-body p-0">
        <img src="{{ url_for('static', filename='marine.jpg') }}" class="img-cover img-fluid img-full me-2 mr-2 align-bottom hover-image">
        <div class="p-3">
          <h1 class="card-text">Terran</h1>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="col-4 column protoss mt-4">
  <div class="card hover-card" data-hover-image="zealot.gif" data-default-image="zealot.jpg" id="protoss-hover">
    <a href="{{ url_for('tag_posts', tag_name='Protoss') }}" class="build-link mt-4">
      <div class="card-body p-0">
        <img src="{{ url_for('static', filename='zealot.jpg') }}" class="img-cover img-fluid img-full me-2 mr-2 align-bottom hover-image">
        <div class="p-3">
          <h1 class="card-text">Protoss</h1>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="col-4 column zerg mt-4">
  <div class="card hover-card" data-hover-image="hydra.gif" data-default-image="hydra.jpg" id="zerg-hover">
    <a href="{{ url_for('tag_posts', tag_name='Zerg') }}" class="build-link mt-4">
      <div class="card-body p-0">
        <img src="{{ url_for('static', filename='hydra.jpg') }}" class="img-cover img-fluid img-full me-2 mr-2 align-bottom hover-image">
        <div class="p-3">
          <h1 class="card-text">Zerg</h1>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
