{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="Header">
    <h1 class="page-title">Build Orders</h1>
  </div>

<div class="col-4 mt-4">
  <div class="card">
    <div class="card-text">
      Beginner
    </div>
  </div>
</div>
<div class="col-4 mt-4">
  <div class="card">
    <div class="card-text">
      Intermediate
    </div>
  </div>
</div>
<div class="col-4 mt-4">
  <div class="card">
    <div class="card-text">
      Advanced
    </div>
  </div>
</div>
{% endblock %}
