{% extends 'base.html' %}

{% block content %}

<div class="row hidden mt-4">
  <div class="header">
    <button class="back clicked">Go Back</button>
    <!--<h1 class="page-title p-2">Select Your Race</h1>-->
  </div>

  <div class="col-4 column overlay-container terran mt-4 hovering-items">
    <div class="inner card hover-card" data-hover-image="marine.gif" data-default-image="marine.jpg" id="terran-hover">
      <a href="{{ url_for('posts.race_posts', category=category, race_name='terran') }}" class="build-link clicked">
        <img src="{{ url_for('static', filename='marine.jpg') }}" class="img-cover img-fluid img-full me-2 mr-2 align-bottom hover-image">
      </a>
    </div>
  </div>

  <div class="col-4 column overlay-container protoss mt-4 hovering-items">
    <div class="inner card hover-card" data-hover-image="zealot.gif" data-default-image="zealot.jpg" id="protoss-hover">
      <a href="{{ url_for('posts.race_posts', category=category, race_name='protoss') }}" class="build-link clicked">
        <img src="{{ url_for('static', filename='zealot.jpg') }}" class="img-cover img-fluid img-full me-2 mr-2 align-bottom hover-image">
      </a>
    </div>
  </div>

  <div class="col-4 column overlay-container zerg mt-4 hovering-items">
    <div class="inner card hover-card" data-hover-image="hydra.gif" data-default-image="hydra.jpg" id="zerg-hover">
      <a href="{{ url_for('posts.race_posts', category=category, race_name='zerg') }}" class="build-link clicked">
        <img src="{{ url_for('static', filename='hydra.jpg') }}" class="img-cover img-fluid img-full me-2 mr-2 align-bottom hover-image">
      </a>
    </div>
  </div>
</div>

{% endblock %}