#offcanvasNavbar {
    width: 100%;
}

@media only screen and (max-width: 991px) {
  .nav-item a {
    font-size: 30px;
        color: #000;
    }
}

.nav-item a:hover {
    color: #eeeeee;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.build-link {
  text-decoration: none;
  color: inherit;
}

.column:hover .card {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5); /* Blue glow effect */
  transition: box-shadow 0.3s ease;
}