/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
}

nav a {
    color: white;
}

.nav-link:hover {
    font-weight: bold;
    color: white;
}

#navbar-logo:hover {
    color: white;
}
}