.navbar-brand {
    font-size: 1rem;
}

#selectedRaceText, #selectedLevelText {
    background-color: #fff; /* Change the color value as needed */
    color: #000;
    border-radius: 0;
    border: 1px #e0e0e0 solid; 
}

.card, .dropdown-menu {
    border-radius: 0;
    border: 1px #e0e0e0 solid;
    padding: 0; 
}

.dropdown-menu li a:hover {
    background-color: #e3f2fd;
}