/* styles.css */
@font-face {
  font-family: starcraft;
  src: url("STARCRAFT NORMAL.TTF");
}

* {
    color: #fff;
    font-size: 18px !important;
    font-family: starcraft;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #131313;
}

header {
    border: 1px #A00000 solid;
    border-radius: 5px;
}

nav a {
    color: #33FF00;
}

.nav-link:hover {
    color: #99FF66;
}

.nav-link {
    border: 1px #A00000 solid;
}

.title {
    text-align:center;
    border: 2px #A00000 solid;
    padding: 10px;
}

#title {
    font-size: 48px;
    color: #33FF00;
    font-size: 2.5rem !important;
}

#body {
    margin-top: 20px;
    color: #ADFF2F;
}

.column {
    /*border: 1px #AA0000 solid;
    border-radius: 5px;*/
}

.subtitle {
    font-size: 20px !important;
    color: #99FF66;
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 1px #99FF66 solid;
}

.social {
    color: #fff;
    margin-left: 20px;
}

.social-title {
    color: #33FF00;
    font-size: 18px;
}

.social-list {
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  color: #fff;
  font-size: 18px;
}

.social-list li:before {
  content: "-";
  margin-right: 5px; /* Add spacing between hyphen and list item content */
}

.social-list .social-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-list .social-link:before {
    content: "";
}

.social-list .social-link:hover {
    font-weight: bold;
    border: 1px #99FF66 solid;
}

.social-list .social-link:hover a{
    text-decoration: none;
    color: #99FF66;
}

.fa-youtube {
    color: red;
}
.fa-twitch {
    color: purple;
}

.underline {
    border-bottom: 1px  #424949 solid;
    padding-bottom: 1px;
}


.content-maintitle { 
    font-size: 20px !important;
    color: #33FF00;
    padding: 10px 0 10px 0;
}

.content-title {
    color:  #FFFF33;
}