<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starcraft Fastest Build Orders</title>
    <!-- Add this to the head of your HTML file -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
	<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item mr-1">
						<a class="nav-link active" aria-current="page" href="#">Build Orders</a>
					</li>
					<li class="nav-item ml-1">
						<a class="nav-link" href="#">Replays</a>
					</li>
		    	</ul>
			</div>
		</div>
    </nav>
</header>

<div class="container" id="body">
	<div class="row">
		<div class="container title">
			<h1 id="title">Starcraft Fastest Guide</h1>
			<h4 id="main-sub">Beginner Friendly Fastest Builds</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 column mt-5">
			<div class="row underline">
				<div class="col-md-12 column">
					<h2 class="content-maintitle">Builds for Beginners</h2>
				</div>
			</div>
			<div class="row underline mt-3 mb-3">
				<div class="col-md-12 column">
					<h4 class="content-title">Protoss: 5 Gateway +1 Zealot Speed</h4>
					<p class="content-subtitle">Very strong Protoss mass Zealot build</p>
				</div>
			</div>
			<div class="row underline mt-3 mb-3">
				<div class="col-md-12 column">
					<h4 class="content-title">Terran: 5 Barracks +1 Stim/Range Bio</h4>
					<p>Very safe Terran build that sets you up for a strong Mid to Late push as you transition into Mech</p>
				</div>
			</div>
			<div class="row underline mt-3 mb-3">
				<div class="col-md-12 column">
					<h4 class="content-title">Zerg: 7 Hatchery Hydralisk Build</h4>
					<p>Very safe and strong economic Hydralisk build. It sets you up for a very STRONG mid and late game</p>
				</div>
			</div>
		</div>

		<div class="col-md-3 column mt-5">
			<h3 class="subtitle">Channels</h3>
			<ul class="social-list">
				<li class="social-title">Youtube</li>
				<li class="social-link"><a href="https://www.youtube.com/@cross_tv1" class="social"><i class="fab fa-youtube"></i> Cross_tv1</a></li>
				<li class="social-title">Twitch</li>
				<li class="social-link"><a href="https://www.twitch.tv/cross_tv1" class="social"><i class="fab fa-twitch"></i> Cross_tv1</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Your page content goes here -->

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
